body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2062c4;
}

.calculator {
    background-color: #4d4d5e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.calculator #display {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
}

.calculator .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator button {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.calculator button:hover {
    background-color: #e0e0e0;
}
